{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block bodyblock %}
<link rel="stylesheet" type="text/css" href="{% static "/admin_apps/student_attendance/css/month_report.css" %}">
<script src="{% static "/admin_apps/student_attendance/js/month_report.js" %}"></script> 

{% include "base/alert.html" %}

<div class="cont">
<form method="post" class="my-form">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        {{ form.class_name | as_crispy_field }}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        {{ form.section | as_crispy_field }}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        {{ form.month | as_crispy_field }}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>



{% if dates %}
    
     <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">MONTHLY REPORT LIST</h6>
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search By Name/ID ....">
            </div> 
          </div>
          
          <div class="col-md-4">
            <div class="btn-group">
              <select class="btn btn-secondary dropdown-toggle" aria-labelledby="dropdownMenuButton" id="exportDropdown" aria-haspopup="true" aria-expanded="false">
                <option disabled selected>SELECT FORMAT</option>
                <option value="excel" class="dropdown-item">EXCEL</option>
                <option value="csv" class="dropdown-item">CSV</option>
              </select>
              <button class="btn btn-secondary" onclick="handleExportSelection('student')" style="border-radius: 10px;margin-left: 5px;">Export</button>
            </div>
            
        </div>
      
        
      </div>
      </div>
      
      <div class="card-body">
        <div class="table-responsive">
          <table id="myTable" class="table-bordered" >
            <tr>
              <th>#</th>
              <th>NAME</th>
              <th>STUDENT ID</th>
              <th>CLASS</th>
              <th>SECTION</th>
                {% for i in dates %}
                <th>{{ i }}</th>
                {% endfor %}
            </tr>
  
              {% for i in results %}
              <tr>
                <td>{{ forloop.counter }}</td>
                  {% for j in i  %}           
                       <td>{{ j }}</td>
               {% endfor %}
                  </tr>
              {% endfor %}
            
  
          </table>
  
       <p id="noResults" class="no-results" style="display: none;">No matches found.</p>
</div>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>


    {% endif %}

{% endblock %}