{% extends 'base/base.html' %}

{% block bodyblock %}
  <style>
    .container h2 {
      background-color: aquamarine;
      border-radius: 10px;
      text-align: center;
      padding: 10px;
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }
    
    .container form {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }
    
    .container label {
      font-size: 16px;
      color: #555;
      margin-bottom: 8px;
    }
    
    .container input[type='password'] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      margin-bottom: 16px;
      width: 100%;
    }
    
    .container button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 12px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s ease;
    }
    
    .container button:hover {
      background-color: #0056b3;
    }
    .errorlist {
      max-width: 100%;
      padding: 8px;
      background-color: lightcoral;
      border-radius: 10px;
      font-size: larger;
    }
    form ul {
      background-color: #f0b86e;
    }
  </style>

  {% include 'base/alert.html' %}

  <div class="container mt-3">
    <h2 style="background-color: aquamarine;border-radius: 10px;text-align: center;">Change Password</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change Password</button>
    </form>
  </div>
{% endblock %}
