<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Password reset sent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      body {
        background-color: #ede4e0;
      }
      .container {
        margin-top: 5%;
      }
      .jumbotron {
        background-color: #fff3e2;
        box-shadow: 5px 5px 10px 5px;
      }
    </style>
  </head>
  <body>
    {% include 'base/alert.html' %}
    <div class="container">
      <div class="jumbotron">
        <h2>Password reset sent to your email</h2><br />
        <h4>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly</h4>
        <h4>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h4>
      </div>
    </div>
  </body>
</html>
