<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Enter new password</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<style>
body{
		background-color: #EDE4E0;
	}
	.container{
		background-color: whitesmoke;
		max-width: 40%;
		margin-top: 5%;
		border-radius: 20px;
		box-shadow: 2px 2px 10px 2px; 
	}
	.errorlist{
		display: block;
	}
	ul{
		display: none;
	}
	
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}

</style>
</head>
<body>
	{% include "base/alert.html" %}
	<div class="container">
		<h2>Enter New Password</h2><br>
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
 		<div class="panel-body">
  			<form id="register-form" role="form" autocomplete="off" class="form" method="post">
        		{% csrf_token %}
				{{form.as_p}}
				<input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">

 
    		</form>
 		</div>   
 	</div>
                   
</form>
</body>
</html>

