<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #596FB7;">
  <div class="container-fluid">
    <!-- School Name on the Left -->
    <a class="navbar-brand" href="#" style="color: white; font-family: Verdana; font-size: 20px;">TRACKOWORLD</a>

    <!-- Toggle Button for Small Screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    {% if request.user.is_authenticated %}
      <!-- Navbar Items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- Home Link -->
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="{% url 'home' %}">Home</a>
          </li>

          <!-- Profile Button with Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#">Profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
</nav>
