
* {
    box-sizing: border-box;
}
  



/* overall content  */
.wrapper {
   
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top:100px;
 
}

.container {
    display: flex;
    width: 100%;
    max-width: 600px;
    box-shadow: 8px 8px 8px #999999;
    border: 2px solid grey;
    border-radius:10px;
}

.login .col-left,
.login .col-right {
    padding: 30px;
    display: flex;
}

.login .col-left {
    width: 60%;
     /* alngle cross line */
     clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: #2aa15f;
    border-radius: 5px;
}

.login .col-right {
    padding: 60px 30px;
    width: 50%;
    margin-left: -10%;
}


.login .login-text {
    position: relative;
    width: 100%;
    color: #ffffff;

}

.login .login-text h1 {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
   
}

.login .login-text p {
    margin: 0 0 20px 0;
    font-size: 23px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom:30px;
}

.login .login-text .btn {
    display: inline-block;
    font-family: poppins;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
}

.login .login-text .btn:hover {
    color: #2aa15f;
    box-shadow: inset 150px 0 0 0 #ffffff;
}

.login-form {
    position: relative;
    width: 100%;
}

.login-form h2 {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 700;
    text-decoration:underline;
    text-align:center;
    margin-bottom:20px;
}

.login-form label {
    display: block;
    margin-bottom:8px;
    color: black;
    font-size: 20px;
  
}

.login-form label,#confirm_password {
  margin-bottom:10px;
}

.login-form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}

.login-form input {
    border-color: #2aa15f;
}

.login-form button,
 .login-form input[type=submit] {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid #2aa15f;
    background: #2aa15f;
    border: 1px solid #2aa15f;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #2aa15f;
    transition: .3s;
}

 .login-form button:hover, .login-form input[type=submit]:hover {
    color:  #2aa15f;
    box-shadow: inset 250px 0 0 0 #fff;
}

.login-form input[type="text"] {
    margin-bottom:10px;
}

.login-form input[type="password"] {
    margin-bottom:15px;
}

input[type="Email"] {
  margin-bottom:10px;
}

#confirm_password {
 margin-bottom:16px;
}




@media(max-width: 575px) {
    .login .container {
        flex-direction: column;
        box-shadow: none;
    }
    .login .col-left,
    .login .col-right {
        width: 100%;
        margin: 0;
        clip-path: none;
    }
    .login .col-right {
        padding: 30px;
    }
}