

{% extends "base/base.html" %}
{% load static %}
{% block bodyblock %}

    <style>
     
        body {
       
          background-color: #9BABB8 !important;
        }
        
            /*hello*/
            .ag-format-container {
                width: 80vw; 
                height: 80vh;
                margin: 0 auto;
                margin-top: 50px; 
                 background-color: #9BABB8 !important;
              }
              
              .ag-courses_box {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
              
                padding: 50px 0;
              }
              .ag-courses_item {
                -ms-flex-preferred-size: calc(33.33333% - 30px);
                flex-basis: calc(33.33333% - 30px);
              
                margin: 0 15px 30px;
              
                overflow: hidden;
              
                border-radius: 28px;
              }
              .ag-courses-item_link {
                display: block;
                padding: 30px 20px;
                background-color: #121212;
              
                overflow: hidden;
              
                position: relative;
              }
              .ag-courses-item_link:hover,
              .ag-courses-item_link:hover .ag-courses-item_date {
                text-decoration: none;
                color: #FFF;
              }
              .ag-courses-item_link:hover .ag-courses-item_bg {
                -webkit-transform: scale(10);
                -ms-transform: scale(10);
                transform: scale(10);
              }
              .ag-courses-item_title {
                min-height: 87px;
                margin: 0 0 25px;
                overflow: hidden;
                font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
                font-weight: bold;
                font-size: 30px;
                color: #FFF;
              
                z-index: 2;
                position: relative;
              }
              .ag-courses-item_date-box {
                font-size: 18px;
                color: #FFF;
              
                z-index: 2;
                position: relative;
              }
              .ag-courses-item_date {
                font-weight: bold;
                color: #f9b234;
              
                -webkit-transition: color .5s ease;
                -o-transition: color .5s ease;
                transition: color .5s ease
              }
              .ag-courses-item_bg {
                height: 128px;
                width: 128px;
                background-color: #f9b234;
              
                z-index: 1;
                position: absolute;
                top: -75px;
                right: -75px;
              
                border-radius: 50%;
              
                -webkit-transition: all .5s ease;
                -o-transition: all .5s ease;
                transition: all .5s ease;
              }
              .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
                background-color: #3ecd5e;
              }
              .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
                background-color: #e44002;
              }
              .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
                background-color: #952aff;
              }
              .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
                background-color: #cd3e94;
              }
              .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
                background-color: #4c49ea;
              }
              .ag-courses_item:nth-child(7n) .ag-courses-item_bg {
                background-color: #4B0082;
              }
              
              
              
              @media only screen and (max-width: 979px) {
                .ag-courses_item {
                  -ms-flex-preferred-size: calc(50% - 30px);
                  flex-basis: calc(50% - 30px);
                }
                .ag-courses-item_title {
                  font-size: 24px;
                }
              }
              
              @media only screen and (max-width: 767px) {
                .ag-format-container {
                    margin-top:20px;
                  width: 96%;
                  height: 140vh;
                }
              
              }
              @media only screen and (max-width: 639px) {
                .ag-courses_item {
                  -ms-flex-preferred-size: 100%;
                  flex-basis: 100%;
                }
                .ag-courses-item_title {
                  min-height: 72px;
                  line-height: 1;;
                  font-size: 24px;
                  z-index: 0;
                }
                .ag-courses-item_link {
                  padding: 22px 40px;
                }
                .ag-courses-item_date-box {
                  font-size: 16px;
                }
              }
              img{
                color: #FFF;
              }
    </style>

 
        <div class="ag-format-container">
            <div class="ag-courses_box">
              <div class="ag-courses_item">
                <a href="{% url 'display_map' %}" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div id="dashboard" class="ag-courses-item_title">
                  BUS LIVE TRACKER
                  </div>
                </a>
              </div>
          
              <div  id="location" class="ag-courses_item">
                <a href="{% url 'assigned_routes' %}" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    ASSIGNED ROUTES 
                  </div>
                </a>
              </div>
          
              
          
              <div id="register" class="ag-courses_item">
                <a href="{% url 'Registration' %}" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                   ROUTE REGISTRATION
                  </div>
                </a>
              </div>

               <div class="ag-courses_item">
                <a href="{% url 'route_viewer' %}" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    ROUTE VIEWER
                  </div>
                </a>
              </div> 
              <div class="ag-courses_item">
                <a href="{% url 'stop' %}" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    ADD STOPS
                  </div>

                </a>
              </div> 
              <div  id="busroute" class="ag-courses_item">
                <a href=" {% url "route_stop_view" %}" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                  ASSIGNED STOPS
                  </div>
                </a>
              </div>
            </div>
          </div>
       
        <script>
            // Calculate the total width of all images and set .main1 width accordingly
            window.addEventListener('load', function () {
                const images = document.querySelectorAll('.main1 li img');
                const totalWidth = Array.from(images).reduce((acc, img) => acc + img.width, 0);
                const main1 = document.querySelector('.main1');
                main1.style.width = totalWidth + 'px';
            });
                        // Get the element that has inline width set
                        const elementWithInlineStyle = document.querySelector('.main1');
                        // Update the inline style's width
                        elementWithInlineStyle.style.width = '80%';  
                        //adding
                        function loadSection(sectionURL) {
                            const contentContainer = document.getElementById('content-container');
                            fetch(sectionURL)
                                .then(response => response.text())
                                .then(data => {
                                    contentContainer.innerHTML = data;
                                })
                                .catch(error => {
                                    console.error('Error loading section:', error);
                                });
                        }
        </script>
 
{% endblock  %}