{% extends 'base/base.html' %}
{% load static %}

{% block bodyblock %}
  <style>
    .cont{
      background-color: #9babb8;
      width: 98vw;
      height: 90vh;
      margin: 0 auto; /* Center the container horizontally */
}
/* Heading styles */
h1 {
  font-size: 24px;
  text-align: center;
color: whitesmoke;
}

 /* CSS for the container */
 .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto; /* Center the container horizontally */
}


    /* CSS for the form elements */
    .search-container form {
        display: flex;
        align-items: center;
    }

    .search-container input[type="text"],
    .search-container input[type="date"],
    .search-container input[type="submit"] {
        margin: 5px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        max-width: 11rem;
    }

    .search-container input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .search-container input[type="submit"]:hover {
        background-color: #0056b3;
    }

  /* Styling for input fields */
  input[type="text"],
  input[type="date"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  /* Styling for the submit button */
  input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }

  /* Hover effect for the submit button */
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
/* Map container styles */
#map {
  height: 70vh;
  width: 95vw;
  margin-top: 20px !important;
  margin: 0 auto; /* Center the container horizontally */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 

 /* Mobile-responsive styles */
 @media (max-width: 768px) {
        .search-container {
            padding: 10px;
        }

        .search-container form {
            flex-direction: column;
        }

        .search-container input[type="text"],
        .search-container input[type="date"],
        .search-container input[type="submit"] {
            width: 100%;
            margin: 5px 0;
        }
    }
    /* CSS for the message */
.no-route-message {
    font-size: 23px;
    text-align: center;
    color: red; /* Adjust the color as needed */
    margin: 20px;
}

  </style>
<div class="cont">
    <h1>Map Route</h1>
    <div class="search-container">
      <form method="post" action="">
          {% csrf_token %}
          <input type="text" name="bus_id" placeholder="Enter Route NO" pattern="[0-9]+(\.[0-9]+)?" required>
          <input type="date" name="parameter_2">
          <input type="submit" value="Search">
      </form>
  </div>
  {% if error_message %}
    <p class="no-route-message">{{ error_message }}</p>
    {% endif %}
    {% if route_data %}
    
    
    <div id="map"></div>
   
    
    
 
  <script>
   // JavaScript code for Google Maps integration and route display...
    function initMap() {
     const map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 13.7749, lng: 77.4194 }, // Default center coordinates
       zoom: 7, // Default zoom level
      });
     var directionsService = new google.maps.DirectionsService();
      var directionsRenderer = new google.maps.DirectionsRenderer({
        map: map
      });

     var waypoints = [];
{% for point in route_data %}
        waypoints.push({
         location: new google.maps.LatLng({{ point.latitude }}, {{ point.longitude }}),
          stopover: true
        });
      {% endfor %}

      var request = {
        origin: waypoints[0].location,
        destination: waypoints[waypoints.length - 1].location,
       waypoints: waypoints.slice(1, waypoints.length - 1),
       optimizeWaypoints: true,
       travelMode: 'DRIVING'
      };
      directionsService.route(request, function(result, status) {
        if (status === 'OK') {
         directionsRenderer.setDirections(result);
        }
     });
    }
    
  </script>
 {% endif %}
</div>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPryL9hzv3i-FIy-T-hnEtYtZv4hSmrig&callback=initMap" async defer></script>


  {% endblock  %}

