{% extends 'base/base.html' %}

{% block bodyblock %}
  <style>
    .can {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
    .form-container {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      width: 400px;
      margin-bottom: 20px;
    }
    
    h2 {
      margin-top: 0;
    }
    
    form {
      margin-top: 20px;
    }
    
    form label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    form input[type='text'],
    form select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    button[type='submit'] {
      padding: 10px 20px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }
    
    button[type='submit']:hover {
      background-color: #2980b9;
    }
    
    .back-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-weight: bold;
      margin-top: 20px;
    }
    
    .back-button:hover {
      background-color: #2980b9;
      color: white;
    }
  </style>
  {% include 'base/alert.html' %}

  <div class="can">
    <div class="form-container">
      <h2>{{ title }}</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
      </form>
    </div>
    <a href="{% url 'class-section-list' %}" class="back-button">Back to List</a>
  </div>
{% endblock %}
