{% extends 'base/base.html' %}
{% block bodyblock %}
  <style>
    .cont {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 90vh;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      margin-top: 1rem;
    }
    
    h1 {
      font-weight: normal;
      margin-bottom: 20px;
      color: #333;
      text-align: center;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }
    
    th,
    td {
      padding: 10px !important;
      text-align: left;
    }
    
    th {
      background-color: #333;
      color: #fff;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    a {
      display: inline-block;
      margin-right: 10px;
      text-decoration: none;
      padding: 5px 5px;
      border: 1px solid #007bff;
      border-radius: 5px;
      color: #007bff;
    }
    
    a:hover {
      background-color: #007bff;
      color: #fff;
    }
    
    /* Media query for responsiveness */
    @media (max-width: 768px) {
      .container {
        margin-top: -6rem;
      }
    }
  </style>

  {% include 'base/alert.html' %}

  <div class="cont">
    <div class="container">
      <h1>Period List</h1>
      <table>
        <thead>
          <tr>
            <th>Period Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for period in periods %}
            <tr>
              <td>{{ period.period_name }}</td>
              <td>
                <a href="{% url 'update-period-name' period_id = period.period_id %}">Update</a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="2">
                <h4>No periods found.</h4>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
