{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block bodyblock %}
  {% include 'base/alert.html' %}
  <div class="container">
    <h1>
      {% if request.resolver_match.url_name == 'school-timings-create' %}
        Create
      {% else %}
        Update
      {% endif %}School Timing
    </h1>

    <!-- Display the selected day of the week -->
    <div id="selected-day-container">
      {% if form.instance.day_of_week %}
        <p>Selected Day of the Week: {{ form.instance.day_of_week }}</p>
      {% endif %}
    </div>

    <form method="post" class="school-timing-form">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{% url 'school-timings-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>

  <style type="text/css">
    /* Add this to your CSS file or style section */
    
    .container {
      max-width: 50%;
      margin: auto;
      padding: 20px;
      background-color: white;
    }
    
    .school-timing-form {
      margin-top: 20px;
    }
    
    #selected-day-container {
      margin-bottom: 10px;
    }
    
    .btn {
      display: inline-block;
      padding: 10px 20px;
      margin-right: 10px;
      text-decoration: none;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .btn-primary {
      background-color: #007bff;
    }
    
    .btn-primary:hover {
      background-color: #0056b3;
    }
    
    .btn-secondary {
      background-color: #6c757d;
    }
    
    .btn-secondary:hover {
      background-color: #545b62;
    }
    
    @media (max-width: 768px) {
      .container {
        max-width: 100%;
        padding: 15px;
      }
    }
  </style>

  <script>
    // Function to change input type to time
    function changeInputTypeToTime(inputId) {
      var inputElement = document.getElementById(inputId)
      inputElement.type = 'time'
    }
    
    // Call the function for start_time and end_time inputs
    changeInputTypeToTime('id_start_time')
    changeInputTypeToTime('id_end_time')
  </script>
{% endblock %}
