{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block bodyblock %}
  <div class="cont">
    {% for i in res %}
      <div class="square">
        <a href="{% url 'student_select' i[0] %}" class="link-wrapper">
          <div class="circle">
            <i class="fas fa-user"></i> <!-- Replace "fas fa-user" with your desired FontAwesome icon class -->
          </div>
          <h1>{{ i[1] }}</h1>
        </a>
      </div>
    {% endfor %}
  </div>

  <style>
    .cont {
      background-color: #9babb8;
      margin: 0;
      display: flex;
      flex-wrap: wrap; /* Allow squares to wrap to the next row on small screens */
      justify-content: center !important; /* Center the squares horizontally */
      align-items: center; /* Center the squares vertically */
      min-height: 100vh;
    }
    
    .square {
      width: calc(33.33% - 30px); /* Adjust the width based on your layout needs */
      max-width: 250px; /* Set a maximum width */
      min-width: 200px; /* Set a minimum width */
      height: 150px;
      background-color: whitesmoke;
      margin: 15px; /* Add space between squares */
      text-align: center;
      position: relative;
    }
    
    .link-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-decoration: none;
      color: black;
    }
    
    .square:hover {
      background-color: white;
      color: black;
    }
    
    .circle {
      width: 100px;
      height: 100px;
      background-color: #3498db;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -5rem;
    }
    
    /* FontAwesome icon color and size */
    .circle i {
      color: white; /* Change the icon color */
      font-size: 24px; /* Adjust the icon size */
    }
    
    @media (max-width: 768px) {
      .cont {
        justify-content: flex-start; /* Align squares to the left on small screens */
      }
    }
  </style>
{% endblock %}
