{% extends 'base/base.html' %}
{% load static %}
{% block bodyblock %}
  <link rel="stylesheet" type="text/css" href="{% static '/admin_apps/registrations/css/details_list.css' %}" />
  <script src="{% static '/admin_apps/registrations/js/details_list.js' %}"></script>

  {% include 'base/alert.html' %}

  <article class="card">
    <header>
      <div>
        <div class="buttons">
          <a href="{% url 'registration' %}" class="button">Back</a>
          <a href="{% url 'student-create' %}" class="button">Add Student</a>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="search-container">
        <input type="text" id="myInput" onkeyup="myFunction(2,1)" class="form-control" placeholder="Search By Name/Student Id ...." />
      </div>
      <form method="get" class="filter-form" novalidate>
        {% csrf_token %}
        {{ filter_form.class_name }}
        {{ filter_form.section }}
        <button type="submit">Apply Filters</button>
      </form>
      <div class="export-container">
        <div class="btn-group">
          <select class="btn btn-secondary dropdown-toggle" aria-labelledby="dropdownMenuButton" id="exportDropdown" aria-haspopup="true" aria-expanded="false">
            <option disabled selected>SELECT FORMAT</option>
            <option value="excel" class="dropdown-item">EXCEL</option>
            <option value="csv" class="dropdown-item">CSV</option>
          </select>
          <button class="btn btn-secondary" onclick="handleExportSelection('student',7)" style="border-radius: 10px;">Export</button>
        </div>
      </div>
    </div>

    <div class="tables">
      <table class="active" id="myTable">
        <tbody class="active">
          <tr>
            <th>#</th>
            <th>NAME</th>
            <th>STUDENT ID</th>
            <th>TAG ID</th>
            <th>ROLL NO</th>
            <th>CLASS</th>
            <th>SECTION</th>
            <th>ACTIONS</th>
          </tr>

          <tr>
            {% for student in students %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ student.name|upper }}</td>
                <td>{{ student.student_id }}</td>
                <td>{{ student.tag_id }}</td>
                <td>
                  {% if student.roll_no %}
                    {{ student.roll_no }}
                  {% endif %}
                </td>
                <td>{{ student.class_name }}</td>
                <td>{{ student.section }}</td>
                <td class="actions">
                  <a href="{% url 'student-detail' student.pk %}" class="action-link">View</a>
                  <a href="{% url 'student-update' student.pk %}" class="action-link2">Edit</a>
                  <a href="{% url 'student-delete' student.pk %}" class="action-link3">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      <p id="noResults" class="no-results" style="display: none;">No matches found.</p>
    </div>
  </article>
{% endblock %}
