{% extends 'base/base.html' %}
{% load static %}
{% block bodyblock %}
  <style>
    .form1 {
      padding: 10px;
      border-radius: 5px;
    }
    .container {
      margin-top: 20px;
    }
    
    h1 {
      border-radius: 5px;
      text-align: center;
      font-weight: bold;
    }
    
    .messages {
      list-style: none;
      padding: 0;
    }
    
    .messages li {
      margin-bottom: 5px;
    }
    
    .card {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      font-size: 14px;
      background-color: #deefe7;
    }
    
    .row > div {
      margin-bottom: 10px;
    }
    
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-secondary {
      background-color: #b2a4ff;
    }
    
    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
    
    a {
      color: #ffffff;
      text-decoration: none;
    }
    
    a:hover {
      color: #ffffff;
    }
    .mt-5 {
      margin-top: -1rem !important;
    }
    strong {
      padding: 1px;
      background-color: orangered;
      font-size: larger;
      color: white;
    }
    .input-group {
      display: none;
    }
  </style>

  {% load crispy_forms_tags %}
  <div class="form1">
    <div class="container">
      {% include 'base/alert.html' %}
      <div class="container mt-3" style=" font-size: 14px;">
        <form method="post" class="card p-3 mt-5" novalidate enctype="multipart/form-data">
          <h1>
            {% if request.resolver_match.url_name == 'student-create' %}
              CREATE
            {% else %}
              UPDATE
            {% endif %}STUDENT{% if request.resolver_match.url_name == 'student-create' %} {% endif %} <div>
              <a href="{% url 'student-upload-excel' %}" class="btn btn-secondary">Import</a>
            </div>
          </h1>
          {% csrf_token %}
          <div class="row">
            <div class="col-md-4">{{ form.name|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.student_id|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.tag_id|as_crispy_field }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">{{ form.class_name|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.section|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.roll_no|as_crispy_field }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">{{ form.mobno|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.email|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.gender|as_crispy_field }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">{{ form.dob|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.doj|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.enabled|as_crispy_field }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6">{{ form.parent_name1|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.parent_relation1|as_crispy_field }}</div>
          </div>
          <div class="row">
            <div class="col-md-6">{{ form.parent_name2|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.parent_relation2|as_crispy_field }}</div>
          </div>

          <hr />
          <div class="row">
            <div class="col-md-6">{{ form.route_no|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.stop_no|as_crispy_field }}</div>
          </div>
          <div class="row">
            <div class="col-md-6">{{ form.address|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.profile_image|as_crispy_field }}</div>
          </div>
          <hr />

          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{% url 'student-list' %}" class="btn btn-danger" style="margin-top: 10px;">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
